<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <link href='https://actionnetwork.org/css/style-embed-v3.css' rel='stylesheet' type='text/css' /><script src='https://actionnetwork.org/widgets/v5/form/join-the-fight-for-change?format=js&source=widget'></script><div id='can-form-area-join-the-fight-for-change'><!-- this div is the target for our HTML insertion --></div>
        <div class="footer__inner">
          {% if site.data.settings.social %}
            <div class="social">
              <ul class="social__list list-reset">
                {% for social in site.data.settings.social %}
                  <li class="social__item">
                    <a class="social__link" href="{{ social.link }}" target="_blank" rel="noopener" aria-label="{{ social.name }} link"><i class="{{ social.icon }}"></i>{{ social.name }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>

        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.data.settings.title}}</a></div>

      </div>
    </div>
  </div>
</footer>
<!-- end footer -->